#root {
	max-width: 1400px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.App {
}

body {
	background-color: rgb(197, 197, 197);
	color: white;
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.container {
	margin: 1rem;
}
.dice {
	height: 250px;
	width: 250px;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 25px;
}
.dice-selected {
	height: 250px;
	width: 250px;
	background-color: #bc40ff;
	/* dark #8500CC */
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 25px;
}
