#root {
	max-width: 1400px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.App {
}

body {
	background-color: rgb(165, 165, 165);
	color: white;
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.container {
	margin: 1rem;
}
.dice {
	height: 250px;
	width: 250px;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 25px;
}

.button-container {
}

.roll-button {
}
