@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@500&display=swap");

#root {
	text-align: center;
	margin: 0 auto;
}

.App {
	font-family: "Roboto", sans-serif;
	padding: 1rem;
}

body {
	background-color: rgb(197, 197, 197);
	color: white;
}
h1 {
	position: relative;
}

.dice-container {
	margin-top: 75px;
}
.dice {
	height: 15vh;
	width: 15vh;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 25px;
}
.dice-selected {
	height: 15vh;
	width: 15vh;
	background-color: #e1a6ff;
	/* dark #8500CC */
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 15px;
}

.button-container {
	margin: 100px;
	button:focus {
		outline: none;
	}
	:hover {
		color: black;
	}
}

.roll-dice-button {
	height: 125px;
	width: 125px;
	border-radius: 100px;
}

.roll-counter {
	color: #bc40ff;
	font-size: xx-large;
	font-family: "Roboto Mono", sans-serif;
}

.footer-tips {
	background-color: white;
	width: 100%;
	text-align: center;
	border-radius: 25px;
	margin-top: 125px;

	p {
		color: #e1a6ff;
		font-size: xx-large;
		font-weight: bolder;
		padding: 2em;
	}
}
