@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@500&display=swap");

#root {
	text-align: center;
	margin: 0 auto;
}

.App {
	font-family: "Roboto", sans-serif;
}

body {
	background-color: rgb(200, 200, 200);
	color: white;
}

.header-container {
	position: relative;
	display: inline-flex;
	padding: 1rem;
	font-size: 4em;

	.header {
		z-index: 20;
		margin-left: 20px;

		.x {
			color: black;
			font-size: 1em;
			opacity: 100%;
		}

		span {
			font-size: xx-large;
			opacity: 69%;
		}

		.dotted {
			height: 8px;
			width: 8px;
			border-radius: 100%;
			background-color: black;
			display: inline-flex;
			position: relative;
			left: -36px;
			margin-bottom: 19px;
		}
	}

	.XX {
		color: #bc40ff;
		letter-spacing: -28px;
		left: -185px;
		position: relative;
		z-index: 10;
		display: inline-flex;
	}
}
