@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@500&display=swap");

#root {
	text-align: center;
	margin: 0 auto;
}

.App {
	font-family: "Roboto", sans-serif;
}

body {
	background-color: rgb(197, 197, 197);
	color: white;
}

h1 {
	position: relative;
	padding: 1rem;
}
