@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@500&display=swap");

#root {
	text-align: center;
	margin: 0 auto;
}

.App {
	font-family: "Roboto", sans-serif;
}

body {
	background-color: rgb(200, 200, 200);
	color: white;
	// background-image: url("/background.svg");
	// background-repeat: repeat;
}

.github-container {
	cursor: pointer;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	margin-bottom: 25px;
	height: 75px;
	width: 75px;
	background-color: white;
	border-radius: 15px;
	.github-link {
		margin: auto;
		color: #e1a6ff;
	}
}

.commit-container {
	cursor: default;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 20px;
	height: fit-content;
	width: fit-content;
	background-color: rgb(150, 150, 150);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	.commit-message {
		line-height: 2.75em;
		color: white;
		margin: auto;
	}
}
