$dice-dimensions: 40vw;
$dice-max: 166px;

.dice-container {
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 666px;
	display: inline-block;
}

.dice-static {
	max-width: $dice-max;
	max-height: $dice-max;
	height: $dice-dimensions;
	width: $dice-dimensions;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 20px;
	cursor: pointer;
}

.dice-roll {
	max-width: $dice-max;
	max-height: $dice-max;
	height: $dice-dimensions;
	width: $dice-dimensions;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 20px;
	animation: shimmy 1.5s, fade 3s cubic-bezier(0.42, 0, 0.58, 1);
}

.dice-selected {
	max-width: $dice-max;
	max-height: $dice-max;
	height: $dice-dimensions;
	width: $dice-dimensions;
	background-color: gray; //#e1a6ff;
	/* dark #8500CC */
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 20px;
}

.dice-reset {
	max-width: $dice-max;
	max-height: $dice-max;
	height: $dice-dimensions;
	width: $dice-dimensions;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 20px;
	animation: fade 3s cubic-bezier(0.42, 0, 0.58, 1);
}

.button-container {
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 100px;
	background-color: rgb(190, 190, 190);
	padding: 25px;
	border-radius: 20px;
	animation: shaking 1s 0.5s;

	button:focus {
		outline: none;
	}
}

.padlock-container {
	position: relative;
	animation: fade-in 3s cubic-bezier(0.42, 0, 0.58, 1);
	transform: translateY(25px);

	.padlock-body {
		display: inline-flex;
		height: 75px;
		width: 100px;
		border-radius: 15px;
		color: rgb(100, 100, 100);
		background-color: rgb(100, 100, 100);
	}

	.padlock-shackle {
		display: inline-flex;
		position: relative;
		margin: auto;
		transform: translateY(-50px);
		height: 40px;
		width: 50px;
		border-radius: 15px;
		border: 10px solid rgb(100, 100, 100);
		//color: rgb(100, 100, 100);
		//background-color: rgb(100, 100, 100);
		animation: popup 3s;
	}
}

.roll-dice-button {
	height: 100px;
	width: 100px;
	// in line DiceRoller.tsx
}

.cup-dumping {
	animation: cupdump 2s;
	height: 100px;
	width: 100px;
	color: white;
	background-color: #bc40ff;
	border-radius: 20%;
	font-size: 25px;
	font-family: "Roboto Mono", monospace;
}

.cup-dumping-container {
	animation: cupdump 2s;
}

.roll-dice-button:hover {
	// animation: shaking 1s 1.25s;
	// animation-iteration-count: 1;
}

.roll-button-disabled {
	height: 125px;
	width: 125px;
	color: rgb(150, 150, 150);
}

// .last-roll {
// 	animation: fade 1s;
// }

@keyframes shaking {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(8deg);
	}
	// 50% {
	// 	transform: rotate(0eg);
	// }
	75% {
		transform: rotate(-8deg);
	}
	// 90% {
	// 	transform: rotate(0deg);
	// }
	100% {
		transform: rotate(0deg);
	}
}

@keyframes shimmy {
	0% {
		transform: translateX(0);
	}
	30% {
		transform: translateX(-10px);
	}
	45% {
		transform: translateX(10px);
	}
	60% {
		transform: translateX(-10px);
	}
	75% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes cupdump {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(20deg);
	}
	30% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(40deg);
	}
	80% {
		transform: rotate(-100deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes fade {
	0% {
		opacity: 100%;
	}
	50% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0%;
	}
	66% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes popup {
	0% {
		transform: translateY(0);
	}
	80% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-50px);
	}
}
