$dice-dimensions: 40vw;
$dice-max: 166px;

.dice-container {
	padding-top: 25px;
	padding-bottom: 25px;
	max-width: 666px;
}

.dice-static {
	max-width: $dice-max;
	max-height: $dice-max;
	height: $dice-dimensions;
	width: $dice-dimensions;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 15px;
	cursor: pointer;
}

.dice-roll {
	max-width: $dice-max;
	max-height: $dice-max;
	height: $dice-dimensions;
	width: $dice-dimensions;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 15px;
	animation: shimmy 1.5s, fade 1.5s;
}

.dice-selected {
	max-width: $dice-max;
	max-height: $dice-max;
	height: $dice-dimensions;
	width: $dice-dimensions;
	background-color: gray; //#e1a6ff;
	/* dark #8500CC */
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 15px;
}

.dice-reset {
	max-width: $dice-max;
	max-height: $dice-max;
	height: $dice-dimensions;
	width: $dice-dimensions;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	border-radius: 15px;
	animation: fade 1.5s cubic-bezier(0.42, 0, 0.58, 1);
}

.button-container {
	margin-top: 35px;
	margin-bottom: 35px;
	display: inline-block;

	button:focus {
		outline: none;
	}

	:hover {
		color: black;
	}
}

.roll-dice-button {
	height: 125px;
	width: 125px;
	// in line DiceRoller.tsx // border-radius: 25%;
}

.cup-dumping {
	animation: cupdump 2s;
	height: 125px;
	width: 125px;
	color: white;
	background-color: #bc40ff;
	border-radius: 20%;
	font-size: 25px;
	font-family: "Roboto Mono", monospace;
}

.roll-dice-button:hover {
	animation: shaking 0.5s 0.5s;
	animation-iteration-count: 4;
}

.roll-dice-button:active {
	animation: cupdump 1.75s;
}

.roll-button-disabled {
	height: 125px;
	width: 125px;
	color: gray;
}

.roll-counter {
	color: #bc40ff;
	font-size: xx-large;
	font-family: "Roboto Mono", monospace;
	margin-top: 15px;
	cursor: default;
}

.turn-counter {
	background-color: white;
	width: 90vw;
	text-align: center;
	border-radius: 20px;
	margin-top: 125px;
	margin: auto;
	cursor: default;
	p {
		color: #e1a6ff;
		font-size: xx-large;
		font-weight: bolder;
		padding: 1em;
	}
}

.footer-tips {
	background-color: white;
	width: 80vw;
	text-align: center;
	border-radius: 20px;
	margin-top: 125px;

	p {
		color: #e1a6ff;
		font-size: xx-large;
		font-weight: bolder;
		padding: 2em;
	}
}

@keyframes shaking {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	25% {
		transform: translate(5px, 5px) rotate(5deg);
	}
	50% {
		transform: translate(0, 0) rotate(0eg);
	}
	75% {
		transform: translate(-5px, 5px) rotate(-5deg);
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes shimmy {
	0% {
		transform: translateX(0);
	}
	30% {
		transform: translateX(-10px);
	}
	45% {
		transform: translateX(10px);
	}
	60% {
		transform: translateX(-10px);
	}
	75% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes cupdump {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(-20deg);
	}
	20% {
		transform: rotate(20deg);
	}
	30% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(40deg);
	}
	70% {
		transform: rotate(-140deg);
	}
	80% {
		transform: rotate(-150deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes fade {
	0% {
		opacity: 100%;
	}
	50% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
