.instructions {
	font-family: "Roboto", sans-serif;
	text-align: left;
	position: absolute;
	//top: 150px;
	display: flex;
	cursor: pointer;
	//z-index: 50;
	background: white;
	border-color: #e1a6ff;
	border-radius: 20px;
	margin: auto;
	margin-top: calc(100vh * 0.05) !important;
	height: fit-content;
	max-width: 750px;
	width: 80vw;
	border-width: 8px;
	animation: fade-in 1s;
	//pointer-events: none;
}

.help-button {
	position: relative;
	display: inline-flex;
	margin: auto;
	cursor: pointer;
	background: white;
	border-color: #e1a6ff;
	border-width: 8px;
	border-radius: 20px;
	margin-top: 50px !important;
	// button:hover {
	// 	border-color: aquamarine !important;
	// }
}

button:focus,
button:focus-visible {
	outline: 0px auto -webkit-focus-ring-color !important;
}

.blur {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0px;
	left: 0px;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8px);
	animation: fade-in 1s;
}

.fade-out {
	opacity: 0;
	transition: opacity 2s cubic-bezier(0.42, 0, 0.58, 1);
}
