.scoreboard-container {
	margin-top: 75px;
	display: inline-grid;
	gap: 20px;
	border: 2px solid white;
	table-layout: auto;
	.upper-categories {
		.upper-item {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.upper-sum {
		color: rgb(231, 231, 231);
	}
	.special-categories {
		.special-item {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
