$scoreboard-border: 4px solid rgba(225, 225, 225);
$scoreboard-border-color: rgb(225, 225, 225);

.scoreboard-container {
		max-height: 90vh;
	.scoreboard {
		margin-top: 50px;
		margin-bottom: 50px;
		display: inline-grid;
		border: $scoreboard-border;
		border-radius: 20px;
		table-layout: auto;
		font-size: x-large;
		width: 85vw;
		max-width: 600px;
		overflow: hidden;

		table {
			text-align: center;
			border-collapse: collapse;
			height: 70vh;
		}

		tr {
			border-bottom: $scoreboard-border;
			cursor: pointer;
		}

		th {
			text-align: left;
			padding-left: 30px;
		}

		td {
			text-align: center;
			width: 100px;
			font-family: "Roboto Mono", monospace;
		}

		.turn-count {
			background-color: white;
			color: rgb(200, 200, 200);
			border-color: $scoreboard-border-color;
			height: 40px;
			cursor: default;

			th {
				text-align: center;
				padding-left: 50px;
			}

			td {
				width: 0px;
			}
		}

		.upper-sum {
			background-color: white;
			color: rgb(200, 200, 200);
			height: 40px;
			border-color: $scoreboard-border-color;
			cursor: default;

			th {
				padding-left: 50px;
				text-align: center;
			}
		}

		.bonus-false {
			background-color: white;
			color: rgb(200, 200, 200);
			height: 40px;
			border-color: $scoreboard-border-color;
			cursor: default;

			th {
				padding-left: 50px;
				text-align: center;
			}
		}

		.bonus-true {
			background-color: white;
			color: #e1a6ff;
			height: 40px;
			border-color: $scoreboard-border-color;
			cursor: default;

			th {
				padding-left: 50px;
				text-align: center;
			}
		}

		.total-score {
			color: #e1a6ff;
			height: 60px;
			border: none;
			background-color: white;
			font-size: x-large;
			cursor: text;

			th {
				padding-left: 50px;
				text-align: center;
			}
		}

		.locked-row {
			color: #e1a6ff;
			background-color: white;
			border-color: $scoreboard-border-color;
			cursor: default;
		}
	}
}
