.scoreboard-container {
	margin-top: 50px;
	display: inline-grid;
	border: 2px solid white;
	border-radius: 20px;
	table-layout: auto;
	font-size: xx-large;
	width: 75vw;
	max-width: 600px;
	padding-left: 20px;
	//padding-right: 20px;

	table {
		text-align: center;
		margin: 10px;
	}

	th {
		text-align: left;
	}

	td {
		text-align: center;
		width: 100px;
	}

	.upper-sum {
		color: rgb(230, 230, 230);
	}
	.spacer {
		height: 15px;
	}

	// .special-categories {
	// 	.special-item {
	// 		padding-left: 20px;
	// 		padding-right: 20px;
	// 	}
	// }

	.total-sum {
		color: rgb(230, 230, 230);
		margin-bottom: 10px;
	}
}
