@font-face {
	font-family: "Netron";
	src: local("Netron"), url(./fonts/Netron-Regular.otf) format("opentype");
}

.header-container {
	font-family: Netron;
	margin: auto;
	position: relative;
	display: inline-flex;
	padding: 3rem 1rem 0rem 1rem;
	height: 75px;
	max-width: 700px;
	cursor: pointer;

	.header {
		font-size: 66px;
		transform: scale(1.25, 1);
		max-width: 90vw;
		z-index: 20;
		// margin-left: 20px;
	}
	.x {
		letter-spacing: -10px;
		color: inherit;
	}

	.lite {
		font-size: 0.75em;
	}
}

.logo-dice6 {
	height: 28px;
	transform: rotate(315deg);
	position: relative;
	display: inline-flex;
	left: -24px;
	border-radius: 8px;
	border: 4px white solid;
	position: relative;
	top: -51px;
}
